@use "../../components/ReuseMixins/reuse_mixins.scss" as *;

.contact {
    @include flex-cent();
    flex-direction: column;
    background-color: #1a1a1a;
    padding-bottom: 100px;

    p {
        color: #aaaaaa;
        line-height: 10%;
    }
}


.for {
    background-color: #2a2a2a;
    border-radius: 5px;
    border: 1px solid rgb(70, 69, 69);
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 500px;
    gap: 15px;
    padding: 20px 30px;
    margin-bottom: 30px;
    margin-top: 40px;

    input,
    textarea {
        width: 100%;
        height: 30px;
        background-color: #1a1a1a;
        border: 1px solid rgb(112, 112, 112);
    }

    textarea {
        height: 25%;
        resize: vertical;
    }

    label {
        color: #aaaaaa;
    }
}