@import "../components/reuse_mixins.scss";



body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}


.mainpic {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.5);
    z-index: 0;
}

.bookses {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text {
    color: white;
    position: absolute;
    flex-direction: column;
    @include flex-cent();

    h1 {
        font-size: 4rem;
        margin: 0;
    }

    p {
        font-size: 1.5rem;
    }

    a {
        color: black;
        text-transform: uppercase;
        text-decoration: none;
    }
}


.maintxt {
    background-color: rgb(29, 29, 29);
    @include flex-cent();
    height: 800px;

    img {
        height: 70vh;
        border-radius: 10px;
        margin-right: 40px;
    }
}

.about_us {
    display: flex;
    flex-direction: column;

    h2 {
        color: rgb(255, 255, 255);
    }

    p {
        line-height: 5px;
        color: #aaaaaa;
    }

}


.button {
    @include cta-button;

    a {
        color: black;
        text-transform: uppercase;
        text-decoration: none;
        font-weight: bold;
    }
}

.services {
    background-color: #2a2a2a;
    @include flex-cent();

    h2 {
        margin: 0;
        color: white;
    }
}

.information_services {
    @include flex-cent();
    flex-direction: column;
    height: 700px;
}

.holder_inf {
    display: flex;
}

.info {
    background-color: #1a1a1a;
    margin: 20px;
    border-radius: 5px;
    width: 300px;
    height: 220px;
    flex-direction: column;
    line-height: 30px;
    @include flex-cent();

    p {
        margin: 0;
        color: #aaaaaa;
    }
}

.showcase {
    @include flex-cent();
    flex-direction: column;
    background-color: #1a1a1a;
}



.rows {
    display: flex;
    flex-direction: row;

    div {
        width: 250px;
        height: 250px;
        margin: 10px;
        position: relative;
        overflow: hidden;
        background-color: rgb(201, 48, 175);
    }

    div::after {
        position: absolute;
        content: "View";
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 1.5rem;
        font-weight: bolder;
        opacity: 0;
        color: white;

    }

    div:hover::after {
        opacity: 1;
        transition: opacity 0.3s ease;
    }

    div:hover img {
        transform: scale(1.1, 1.1);
        opacity: 0.6;
        transition: transform 0.3s ease;
    }

    div>img {
        transition: transform 0.3s ease;
    }
}

.images {
    height: 100%;
    width: 100%;
    border-radius: 5px;
    object-fit: cover;
}


.contact {
    @include flex-cent();
    flex-direction: column;
    background-color: #1a1a1a;
    padding-bottom: 100px;

    p {
        color: #aaaaaa;
        line-height: 10%;
    }
}


.for {
    background-color: #2a2a2a;
    border-radius: 5px;
    border: 1px solid rgb(70, 69, 69);
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 500px;
    gap: 15px;
    padding: 20px 30px;
    margin-bottom: 30px;
    margin-top: 40px;

    input,
    textarea {
        width: 100%;
        height: 30px;
        background-color: #1a1a1a;
        border: 1px solid rgb(112, 112, 112);
    }

    textarea {
        height: 25%;
        resize: vertical;
    }

    label {
        color: #aaaaaa;
    }
}