@use "../ReuseMixins/reuse_mixins" as *;

header {
    background-color: rgba(26, 26, 26);
    @include flex-cent();
    width: 100%;
    height: 60px;
    position: sticky;
    top: 0;
    z-index: 1;
    scroll-margin-top: 1000px;

    section {
        display: flex;
        justify-content: space-between;
        width: 100%;
        max-width: 1240px;

        a {
            text-decoration: none;
            transition: color 0.3s ease, border-bottom-color 0.3s ease;
            color: aliceblue;
            font-size: 2rem;
        }

        a:hover {
            color: #ff007f;
            border-bottom: 2px solid #ff007f;
            ;
        }
    }


}

.menu {
    display: flex;
    align-items: center;
    gap: 20px;

    a {
        font-size: 1.2rem;
    }
}