    @mixin flex-cent {
        display: flex;
        justify-content: center;
        align-items: center;
    }


    @mixin cta-button($width: 50%, $height: 50px) {
        background-color: rgb(207, 38, 95);
        box-shadow: 0px 0px 10px rgba(243, 237, 237, 0.3);
        width: $width;
        height: $height;
        border-radius: 10px;
        font-weight: bold;
        @include flex-cent();
    }