.palevioleted {
    color: rgb(204, 103, 147);
}

p {
    line-height: 20px;
}

h3 {
    font-size: 1.5rem;
}

h2 {
    color: white;
    font-size: 2.5rem;
    text-align: center;
    position: relative;

}

h2::after {
    content: "";
    display: block;
    width: 15%;
    height: 3px;
    background-color: rgb(219, 47, 168);
    margin: 8px auto 0 auto;
    box-shadow: 0px 0px 6px rgb(184, 33, 126);
}